.About_Content {
  display: inline-grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
  background-color: #2196F3;
  padding-top: 100px;
  padding-bottom: 50px;
  place-items: center;
}

/* .grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
} */

.About_Text {
  text-align: center;
  font-size: 70px;
  font-weight: bold;
}

.About_Logo {
  grid-column: 2 / 5;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
}
.About_Logo_image {
  max-height: 280px;
}

.About_SSCC {
  grid-column: 5 / 8;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
  font-size: 15pt;
  font-weight: bold;
}