.About_Content {
  display: inline-grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
  background-color: rgb(52, 64, 79);
  padding-top: 100px;
  padding-bottom: 50px;
  place-items: center;
}

/* .grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
} */

.About_Text {
  color: white;
  text-align: center;
  font-size: 70px;
}

.About_Logo {
  grid-column: 2 / 5;
}

.About_Logo_image {
  max-height: 280px;
}

.About_SSCC {
  grid-column: 5 / 8;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 250;
  border-radius: 15px;
}

@media (max-width: 350px) {
  .About_Content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    background-color: rgb(52, 64, 79);
  }

  .About_Logo {
    grid-row: 1/1;
    grid-column: 1/1;
  }
  .About_Logo_image {
    height: 200px;
  }

  .About_SSCC {
    grid-row: 2/2;
    grid-column: 1/1;
    font-size: 1rem;
  }
}

@media (min-width: 351px) and (max-width: 1100px) {
  .About_Content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    background-color: rgb(52, 64, 79);
  }

  .About_Logo {
    grid-row: 1/1;
    grid-column: 1/1;
  }

  .About_SSCC {
    grid-row: 2/2;
    grid-column: 1/1;
    border-radius: 0;
  }
}