:root {
  --background-color: rgb(38, 51, 67);
  --icons-color: rgb(152, 187, 201);
  --bodybackground-color: lightgray;
}

button {
  margin: 30px;
}
.w-btn {
  height: 65px;
  position: relative;
  border: none;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 40px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
}

.w-btn-indigo {
  background-color: var(--background-color);
  color: white;
  font-size: 17px;
}

.w-btn-indigo:hover {
  color: var(--background-color);
  background: var(--icons-color);
}



.button2 {
  margin: 30px;
}

.w-btn2 {
  height: 65px;
  position: relative;
  border: none;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 40px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
}

.w-btn-indigo2 {
  background-color: orange;
  color: white;
  font-size: 17px;
}

.w-btn-indigo2:hover {
  color: var(--background-color);
  background: var(--icons-color);
}