#Footer_out_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-gap: 8px; */
}

#Footer_first {
  text-align: start;
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 0;
  line-height: 0.2;
  color: black;
}

#ROS {
  font-size: 1rem;
  font-weight: bolder;
}
#copyright {
  font-size: 0.8rem;
  font-weight: lighter;
}

#Footer_second {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: start;
}

.Footer_Text {
  grid-row: 1;
  grid-column: 1 / 5;
}
.Footer_circle {
  font-size: 1rem;
  font-weight: bolder;
  text-align: center;
  line-height: 80px;
  margin: 0 auto;
  width: 15px;
  height: 15px;
  border: 10px solid rgb(163, 151, 198);
  border-radius: 50%;
  background-color: white;
}