#Footer_out_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-gap: 8px; */
}
#Footer_out_grid > div {
  text-align: center;
}

#Footer_first {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr;
  column-gap: 0;
  line-height: 0.2;
  color: black;
}

#ROS {
  text-align: start;
  font-size: 1rem;
  font-weight: bolder;
  padding-bottom: 40px;
}
#copyright {
  text-align: start;
  font-size: 0.8rem;
  font-weight: lighter;
}

#Footer_second {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-left: 10%;
}


.Footer_LOGO {
  color: green;

}
.Text-Highlight {
  color: green;
}

#Footer_second {
  /* padding-left:20%; */
  display: grid;
  text-align: center;
  grid-column: 3 / 5;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows:  0.3fr 0.5fr;
  line-height: 0.2;
  color: black;
  /* width: 400px; */
}

.Footer_Text {
  grid-row: 1;
  grid-column: 1 / 5;
}
.Footer_link{
  transition: .2s;
  font-size: 30px;
}

.Footer_link:hover{
  transition: .3s;
  font-size: 50px;
}

@media (max-width: 350px) {
  #Footer_out_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    /* grid-gap: 8px; */
  }

  #Footer_first {
    grid-template-rows: 1fr 0.3fr;
    text-align: center;
    grid-column: 1;
    grid-row: 2;
  }
  #copyright {
    text-align: center;
    font-size: 0.5rem;
    font-weight: lighter;
  }
  #Footer_second {
    align-content: center;
    align-items: center;
    /* padding-left: 0px; */
    grid-column: 1;
    grid-row: 1;
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (min-width: 351px) and (max-width: 680px) {
  #Footer_out_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    /* grid-gap: 8px; */
  }

  #Footer_first {
    grid-template-rows: 1fr 0.3fr;
    text-align: center;
    grid-column: 1;
    grid-row: 2;
  }
  #Footer_second {
    align-content: center;
    align-items: center;
    /* padding-left: 0px; */
    grid-column: 1;
    grid-row: 1;
    padding-left: 20%;
    padding-right: 20%;
  }
}
@media (min-width: 681px) and (max-width: 830px) {
  #Footer_out_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    /* grid-gap: 8px; */
  }

  #Footer_first {
    grid-template-rows: 1fr 0.3fr;
    text-align: center;
    grid-column: 1;
    grid-row: 2;
  }
  #Footer_second {
    align-content: center;
    align-items: center;
    /* padding-left: 0px; */
    grid-column: 1;
    grid-row: 1;
    padding-left: 20%;
    padding-right: 20%;
  }
}

@media (min-width: 831px) and (max-width: 1100px) {
  #Footer_second {
    padding-left: 20%;
    padding-right: 20%;
  }
  }