@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}   

:root {
  --text-color: rgb(240, 244, 245);
  --background-color: #0F0D35;
  /* --background-color: #263343; */
  --accent-color:	brown;
  /* --accent-color:	white; */
  /* --accent-color:	rgb(255,165,0); */
  --hober-color: rgb(76, 90, 105);
  /* --hober-color: rgb(146, 153, 161); */
  /* --hober-color: #6d7278; */
  --icons-color: rgb(152, 187, 201);
  --bodybackground-color: lightgray;
}

#header {
  display: flex;
  background: #EAEBE7;
  height: 95vh;
}

.header-main {
  text-align: center;
  margin: auto;
}

.header-text {
  color: #0F0D35;
  font-size: 4.8rem;
  font-weight: 800;
}

body { 
  margin: 0;
  background-color: var(--bodybackground-color);
  font-family: 'BMJUA', sans-serif;
}

#nav {
  background: var(--background-color);
  height: 5vh;
  position: sticky;
  top: 0;
  font-weight: bold;
}

#About {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: rgb(52, 64, 79);
  /* background: var(--accent-color); */
}

#Active {
  text-align: center;
  padding-bottom: 150px;
  background-color: rgb(52, 64, 79);
}

#Recruit {
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgb(52, 64, 79);
}

footer {
  margin: 0px 150px;
  bottom: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

#More {
  text-align: center;
  padding-bottom: 150px;
  background-color: rgb(52, 64, 79);
}

@media (max-width: 500px) {
  .header-text {
    color: #0F0D35;
    font-size: 3.8rem;
    font-weight: 800;
  }
  #Recruit {
    padding-bottom: 15%;
  }
}
@media (max-width: 830px) {
  footer {
    margin: 0px 50px;
  }
}

@media (min-width: 831px) and (max-width: 1100px) {
  footer {
    margin: 0px 100px;
  }
}
