:root {
  --text-color: rgb(240, 244, 245);
  --background-color: rgb(38, 51, 67);
  /* --background-color: #263343; */
  --accent-color:	brown;
  /* --accent-color:	white; */
  /* --accent-color:	rgb(255,165,0); */
  --hober-color: rgb(76, 90, 105);
  /* --hober-color: rgb(146, 153, 161); */
  /* --hober-color: #6d7278; */
  --icons-color: rgb(152, 187, 201);
  --bodybackground-color: lightgray;
}

#header {
  display: flex;
  background: lightgray;
  /* background: rgb(116, 120, 125); */
  height: 95vh;
}

.header-main {
  text-align: center;
  margin: auto;
}

.header-text {
  color: white;
  font-size: 4.8rem;
  font-weight: 800;
}

body { 
  margin: 0;
  background-color: var(--bodybackground-color);
  font-family: 'STIX Two Math';
}

#nav {
  background: var(--background-color);
  height: 5vh;
  position: sticky;
  top: 0;
}

#About {
  text-align: center;
  padding-top: 150px;
  background-color: rgb(52, 64, 79);
  /* background: var(--accent-color); */
}

#Active {
  text-align: center;
  padding-top: 10px;
  background-color: rgb(52, 64, 79);
}

#Recruit {
  height: 100vh;
  padding-top: 300px;
  background-color: rgb(52, 64, 79);
}

a {
  text-decoration: none;
  color: var(--text-color);
}