.More_text {
  text-align: center;
  font-size: 70px;
  color: white;
  padding-top: 10%;
}

#More_outer_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
#More_outer_grid > div {
  font-weight: bolder;
  padding: 8px;
}
#More_inner_grid {
  background-color: rgb(235, 235, 235);
  display: grid;
  grid-template-rows: 0.1fr 0.1fr 0.1fr;
  grid-template-columns: 0.2fr 1fr;
  padding-bottom: 20px;
}
#More_inner_grid > div {
  color: black;
  padding: 8px;
}

.Active-name {
  text-align: start;
  grid-column: 1 / 3;
  font-size: 0.9rem;
  font-weight: 300;
}
.Active-image {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
}
.card-container .picture {
  margin: auto;
  display: block;
  border-radius: 5%;
  padding: 7px;
  position: inherit;
  width: 90%;
  padding-bottom: 20px;
}

.bar {
  border-width: 1px;
  border-right : thick solid rgb(38, 51, 67);
  margin-top: 12px;
  margin-inline: auto;
  grid-row: 3;
  display: inline-block;
  height: 85%;
}

.Active-P {
  text-align: start;
  grid-column: 2;
  grid-row: 3;
  line-height: 140%;
  font-size: 1.5rem;
  font-weight: 550;
  width: 85%;
}

.More_card body {
  background-color: grey;
}

.card-container {
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px black;
  padding-top: 10px;
  text-align: center;
  vertical-align: middle;
  margin: 15%;
}

.More_Content {
  text-align: center;
  margin: auto;
}

#tags {
  color: gray;
}
@media (max-width: 1100px) {
  #More_outer_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
  }

  .card-container {
    border-radius: 5px;
    box-shadow: 0px 10px 20px -10px black;
    padding-top: 10px;
    text-align: center;
    vertical-align: middle;
    margin: 5%;
  }

  .More_text {
    font-size: 7vw;
  }

}



