#Recruit_outer_grid {
  display: grid;
  grid-template-columns: 0.7fr 0.5fr 0.7fr 0.5fr 0.7fr 1fr 1fr 1fr 1fr 1fr;
  /* grid-gap: 8px; */
}
#Recruit_outer_grid > div {
  /* background-color: limegreen;
  color: rgb(255, 255, 255); */
  font-size: 1.4vw;
  font-weight: bolder;
  padding: 8px;
  line-height: 80px;
  text-align: center;
}
#Recruit_inner_grid {
  background-color: rgb(235, 235, 235);
  display: grid;
  grid-template-rows: 0.2fr 1.5fr 0.6fr 0.6fr 0.6fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  /* grid-gap: 5px; */
}
#Recruit_inner_grid > div {
  /* background: white; */
  color: black;
  text-align: start;
  padding: 8px;
}

.circle {
  text-align: center;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  border: 10px solid rgb(163, 151, 198);
  border-radius: 50%;
  background-color: white;
}

.fa-solid {
  padding-top: 30px;
  font-size: 40px;
}