#Recruit_New_Member {
  text-align: center;
  font-size: 3rem;
  font-weight: bolder;
  padding-bottom: 200px;
  color: rgb(195, 200, 207);
}

#Recruit_outer_grid {
  padding-top: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
  /* column-gap: 5%; */
  width: 100%
}

#Recruit_inner_grid1 {
  display: grid;
  text-align: center;
  grid-template-columns: 0.7fr 0.5fr 0.7fr 0.5fr 0.7fr;
  grid-template-rows: 1fr 1fr;
  padding-right: 2.5%;
}
#Recruit_inner_grid1 > div {
  /* font-size: 1rem; */
  padding: 8px;
}

.Recruit_text{
  color: rgb(195, 200, 207);
  font-size: 2rem;
  line-height: 80px;
  font-weight: 500;
  grid-column: 1 / 6;
  grid-row: 1 / 2;
  border-width: 1px;
  border-bottom : thick solid rgb(195, 200, 207);
  width: 65%;
  height : 60px;
  margin-inline: auto;
  display: inline-block;
  text-align: center;
}

.circle {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  line-height: 80px;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  border: 10px solid rgb(195, 200, 207);
  border-radius: 50%;
  background-color: white;
  text-align: center;
}
.fa-solid {
  padding-top: 30px;
  font-size: 40px;
  color: rgb(195, 200, 207);
}

.circle.first {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.arrow.first {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.circle.second {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
.arrow.second {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}
.circle.third {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}

.Recruit_content {
  padding-left: 2%;
  padding-right: 2%;
  text-align: start;
  font-size: 1.2rem;
  font-weight: 500;
  column-gap: 20;
  line-height: 2;
  color: white;
}


@media (max-width: 350px) {
  #Recruit_New_Member {
    font-size: 3rem;
    padding-bottom: 100px;
  }
  #Recruit_outer_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 1fr;
  }
  #Recruit_inner_grid1 {
    display: grid;
    text-align: center;
    grid-template-columns: 0.7fr 0.5fr 0.7fr 0.5fr 0.7fr;
    grid-template-rows: 0.7fr 1fr;
    padding-right: 2.5%;
    grid-row-gap: 30px
  }
  .fa-solid {
    padding-top: 10px;
    font-size: 30px;
  }
  .circle {
    font-size: 0.1rem;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 5px solid rgb(195, 200, 207);
    margin: 0 auto;
  }
  .Recruit_content {
    font-size: 1rem;
  }

}
@media (min-width: 350px) and (max-width: 500px) {
  #Recruit_New_Member {
    font-size: 3rem;
    padding-bottom: 100px;
  }
  #Recruit_outer_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 1fr;
  }
  #Recruit_inner_grid1 {
    display: grid;
    text-align: center;
    grid-template-columns: 0.7fr 0.5fr 0.7fr 0.5fr 0.7fr;
    grid-template-rows: 0.7fr 1fr;
    padding-right: 2.5%;
    grid-row-gap: 30px
  }
  .fa-solid {
    padding-top: 10px;
    font-size: 40px;
  }
  .circle {
    font-size: 0.6rem;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
  }
  .Recruit_content {
    font-size: 1rem;
  }

}

@media (min-width: 501px) and (max-width: 775px) {
  #Recruit_outer_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (min-width: 755px) and (max-width: 1100px) {
  #Recruit_outer_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  #Recruit_inner_grid1 {
    padding-left: 18%;
    padding-right: 18%;
    padding-bottom: 60px;
  }
}
@media (min-width: 755px) and (max-width: 1100px) {
  #Recruit_outer_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  #Recruit_inner_grid1 {
    padding-left: 18%;
    padding-right: 18%;
    padding-bottom: 60px;
  }
}

@media (min-width: 1101px) {
  #Recruit_outer_grid {
    padding-bottom: 30vh;
  }
}