 /* 클릭시 버튼 생성*/
.btn-floating {
  display: inline-block;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: rgb(38, 51, 67);
  border-radius: 50%;
  transition: .5s;
  cursor: pointer;
  vertical-align: middle
}

/* 버튼 내 설정 */
.btn-floating i {
  width: inherit;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  line-height: 40px
}

.btn-floating:hover {
  background-color: rgb(152, 187, 201)
}
.btn-floating:before {
  border-radius:0;
}

/* navi 버튼 크기 설정*/
.btn-floating.btn-large {
  width: 56px;
  height: 56px
}
.btn-floating.btn-large i {
  line-height: 56px
}
button.btn-floating {
  border: none
}


/* 눌렀을 때 뜨는 창 */
.fixed-action-btn {
  position: fixed;
  right: 23px;
  bottom: 23px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 998
}

/* 눌렀을 때 뜨는 창 hover 설정 */
/* .textbox {
  text-align: center;
  position: relative;
  top: 50%;
}
.textbox:hover {
  font-size: 15px;
}
.textbox.instagram {
  transform: translateY(-19%);
}
.textbox.instagram:hover {
  transform: translateY(-50%);
} */
.btn-floating.instagram:hover {
  transition: .5s;
  background: linear-gradient(45deg, #fcb045, #fd1d1d, #833ab4);
  border-radius: 40px;
  width: 100px;
  height: 40px;
}
.btn-floating.facebook:hover {
  transition: .5s;
  background-color: #3b5998;
  border-radius: 40px;
  width: 100px;
  height: 40px;
}
.fa-solid.fa-comment-sms {
  transition: .1s;
  color: white;
}
.fa-solid.fa-comment-sms:hover {
  transition: 0.1s;
  color: #3A1D1D;
}
.btn-floating.kakao:hover {
  transition: .5s;
  background-color: #F7E600;
  border-radius: 40px;
  width: 100px;
  height: 40px;
}
.btn-floating.googleform:hover {
  transition: .5s;
  background: linear-gradient(45deg, #5e36b2, #7143b9, #673fb3);
  border-radius: 40px;
  width: 100px;
  height: 40px;
}

/* 눌렀을 때 보이도록 설정 */
.fixed-action-btn.active ul {
  visibility: visible
}

/* 눌렀을 때 나오는 창 padding 설정*/
.fixed-action-btn.horizontal {
  padding: 0 0 0 15px
}

/* 눌렀을 때 펼쳐지는 방향 */
.fixed-action-btn.horizontal ul {
  text-align: right;
  right: -7px;
  top: -207px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 100%;
  left: auto;
  width: 500px
}
/* .fixed-action-btn.horizontal ul {
  text-align: right;
  right: 64px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 100%;
  left: auto;
  width: 500px
} */

/* 눌렀을 때 뜨는 창 배치 */
.fixed-action-btn.horizontal ul li {
  display: block;
  margin: 15px 15px 0 0
}
/* .fixed-action-btn.horizontal ul li {
  display: inline-block;
  margin: 15px 15px 0 0
} */


/* floating navi 위치 */
 .fixed-action-btn ul {
  left: 0;
  right: 0;
  text-align: center;
  position: absolute;
  bottom: 64px;
  margin: 0;
  visibility: hidden
}


/*!
 * Materialize v0.97.8 (http://materializecss.com)
 * Copyright 2014-2015 Materialize
 * MIT License (https://raw.githubusercontent.com/Dogfalo/materialize/master/LICENSE)

 * Waves v0.6.0
 * http://fian.my.id/Waves
 *
 * Copyright 2014 Alfiana E. Sibuea and other contributors
 * Released under the MIT license
 * https://github.com/fians/Waves/blob/master/LICENSE
 */